.search-form form {
    height: 58px;
    position: relative;
    color: inherit;
}

.search-form form .field {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    border: 1px solid #efefef;
    padding-right: 30px;
}

.search-form form .field .fa-search {
    font-size: 18px;
    position: absolute;
    right: 15px;
    top: 50%; 
    transform: translateY(-50%);
}

.search-form > form.ui.form input[type=text] {
    height: 40px;
    border: none;
    padding: 0 15px;
    background: transparent;
    color: #efefef;
}

.search-form > form.ui.form input[type=text]::placeholder {
    color: #887d8f;
}

